{% extends "main/base.html" %}
{% import "main/macros.html" as macros %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/comments.css') }}">

{% endblock %}

{% block content %}

<h1 style="text-align: center;">Комментарии</h1>
<div class="jumbotron rounded bg-light">
	{{ macros.render_comment_list_filter(current_user, sort_select_list, order_select_list) }}
</div>
<div class="comment-list">
	<div class="row">
		<div class="col-8">
			<h2 style="text-align: center;">Список комментариев</h2>
		</div>
		<div class="col-4" style="text-align: center;">
			<a class="btn btn-warning" href="{{ url_for('main.update_comments') }}">Обновить</a>
		</div>
	</div>
	{{ macros.render_comment_list(comment_list) }}
</div>
<div class="jumbotron rounded bg-light">
	{{ macros.render_navigation(comment_list, 'main.show_all_comments') }}
</div>

{% endblock %}
