{% macro render_navigation(pagination, endpoint) %}
<div class="pagination">
	{% for page in pagination.iter_pages() %}
	{% if page %}
	{% if page != pagination.page %}
	<a class="btn btn-info mr-2" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
	{% else %}
	<a class="btn btn-outline-info mr-2" href="{{ url_for(endpoint, page=page) }}">{{ page }}</a>
	{% endif %}
	{% else %}
	<a class="btn btn-outline-info disabled mr-2" href="">...</a>
	{% endif %}
	{% endfor %}
</div>
{% endmacro %}


{% macro render_comment_list(comment_list) %}
<div class="row">
	<div class="col-8">
		{% for comment in comment_list.items %}
		<div class="card border-secondary mb-3">
			<div class="row no-gutters">
				<div class="col-3">
					<img src="{{ comment.user.avatar_url }}" class="card-img-top">
					<div class="card-body">
						<p class="card-text">
							{{ comment.user.full_name }}
						</p>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										style="width: {{ "%.2f" % (comment.user.courses[comment.course.stepic_id | string].score / comment.course.score * 100) }}%"
										aria-valuenow="{{ "%.2f" % (comment.user.courses[comment.course.stepic_id | string].score / comment.course.score * 100) }}"
										aria-valuemin="0"
										aria-valuemax="{{ comment.course.score }}">
										{{ "%.2f" % (comment.user.courses[comment.course.stepic_id | string].score / comment.course.score * 100) }}%
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<span class="badge badge-success">{{ comment.epic_count }}</span>
								<span class="badge badge-danger">{{ comment.abuse_count }}</span>
							</li>
							<li class="list-group-item">{{ comment.user.reputation }}</li>
							<li class="list-group-item">
								{% if comment.user.courses[comment.course.stepic_id | string].steps[comment.step_id | string].is_passed  %}
								<span class="badge badge-success">
									{% else %}
									<span class="badge badge-danger">
										{% endif %}
										{{ comment.user.courses[comment.course.stepic_id | string].steps[comment.step_id | string].total_submissions }}
									</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-9">
					<div class="card-header">
						{{ comment.time | date('%d.%m.%Y %H:%M') }}
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ comment.text | safe }}
						</p>
					</div>
				</div>
				<div class="card-footer">
					<a href="#" class="btn btn-outline-primary">Ссылка на обсуждение</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}


{% macro render_comment_list_filter(current_user) %}
<div class="">
	<form action="{{ url_for('main.update_comments_filtration') }}" method="post">
		<div class="form-row">
			<div class="col">
				<div class="form-group">
					<legend class="col-form-label">Сортировка</legend>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="sorting" value="epic_count" {% if current_user.sorting == "epic_count" %} checked {% endif %}>
						<label class="form-check-label">
							Лайки
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="sorting" value="abuse_count" {% if current_user.sorting == "abuse_count" %} checked {% endif %}>
						<label class="form-check-label">
							Дизлайки
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="sorting" value="reply_count" {% if current_user.sorting == "reply_count" %} checked {% endif %}>
						<label class="form-check-label">
							Ответы
						</label>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<legend class="col-form-label">Порядок</legend>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="ordering" value="" {% if current_user.ordering == "" %} checked {% endif %}>
						<label class="form-check-label">
							По возрастанию
						</label>
					</div>
					<div class="form-check">
						<input class="form-check-input" type="radio" name="ordering" value="-" {% if current_user.ordering == "-" %} checked {% endif %}>
						<label class="form-check-label">
							По убыванию
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<button type="submit" class="btn btn-success">Применить</button>
			<a class="btn btn-warning ml-auto" href="{{ url_for('main.update_comments') }}">Обновить</a>
		</div>
	</form>
</div>
{% endmacro %}
