{% extends "stepic/base.html" %}

{% block title %} - курсы {% endblock %}

{% block content %}

<h1 style="text-align: center;"> Курсы </h1>
<div class="row">
	<div class="col-8">
		<h2 style="text-align: center;"> Список курсов </h2>
		{% for course in course_list %}
		<div class="card mb-3">
			<div class="row">
				<div class="col-2">
					<img src="{{ course.cover }}" class="card-img">
				</div>
				<div class="col-8">
					<div class="card-body">
						<h5 class="card-title"> {{ course.title }} </h5>
						<p class="card-text"> <small class="text-muted"> {{ course.stepic_id }} </small> </p>
					</div>
				</div>
				<div class="col-2">

				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="col-4" style="text-align: center;">
		<button type="button" class="btn btn-lg btn-info update_btn"
						href="{{ url_for('stepic.update_courses') }}"
						data-bs-toggle="tooltip" data-bs-html="true"
						title="Процесс импорта курсов может занять некоторое время.&#10;Не покидайте страницу до окончания загрузки.">
			<span class="spinner-border spinner-border-sm update_btn_spinner" role="status" aria-hidden="true" style="display: none"> </span>
			Обновить
		</button>
	</div>
</div>

{% endblock %}

{% block extra_javascript %}

<script src="{{ url_for('static', filename = 'js/spinner.js') }}">	</script>

{% endblock %}
