{% extends "moodle/base.html" %}
{% import "moodle/macro_pagination.html" as macro_pagination %}
{% import "moodle/macro_filtration.html" as macro_filtration %}
{% import "moodle/macro_discussions.html" as macro_discussions %}


{% block title %} - обсуждения {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/comments.css') }}">

{% endblock %}

{% block content %}

<h1 style="text-align: center;"> Обсуждения </h1>

{{ macro_filtration.render_filtration_block(current_user, tag_list, order_select_list, discussion_list.page, filtration_set_list, redirect) }}

<br>

<div class="comment-list">
	<div class="row">
		<div class="col-sm-8">
			<h2 style="text-align: center;">
			Список обсуждений
			<a href="" id="remove_author" class="badge badge-danger"
			{% if current_user.filtration_set.author %}
				author_id="{{ current_user.filtration_set.author.serial_id }}"
				> {{ current_user.filtration_set.author.full_name }}
			{% else %}
				author_id=0
				style="display: none">
			{% endif %}
			</a>
			</h2>
		</div>
		<div class="col-sm-4" style="text-align: center;">
			<button class="btn btn-warning update_btn" type="button" href="{{ url_for('moodle.update_discussions') }}">
				<span class="spinner-border spinner-border-sm update_btn_spinner" role="status" aria-hidden="true" style="display: none"> </span>
				Обновить
			</button>
		</div>
	</div>
	{{ macro_discussions.render_discussion_list(discussion_list) }}
</div>
<div class="jumbotron rounded bg-light">
	{{ macro_pagination.render_navigation(discussion_list, redirect) }}
</div>

{% endblock %}

{% block extra_javascript %}

<script src="{{ url_for('static', filename = 'js/filtration.js') }}">	</script>

{% endblock %}
