{% extends "moodle/base.html" %}
{% import "moodle/macro_pagination.html" as macro_pagination %}
{% import "moodle/macro_filtration.html" as macro_filtration %}
{% import "moodle/macro_discussions.html" as macro_discussions %}


{% block title %} - обсуждения {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/comments.css') }}">

{% endblock %}

{% block content %}

<h1 style="text-align: center;"> Обсуждения </h1>

{{ macro_filtration.render_filtration_block(current_user, tag_list, order_select_list, discussion_list.page, filtration_set_list, redirect_url) }}

<br>

<div class="row">
	<div class="col-sm-8">
		<h2 style="text-align: center;">
			Список обсуждений
			<div class="btn-group" role="group">
				{% if current_user.filtration_set.author %}
					<span href="#" class="badge badge-primary"> {{ current_user.filtration_set.author.full_name }}
						<a href="#" id="remove_author" class="badge badge-danger" author_id="{{ current_user.filtration_set.author.serial_id }}"> X </a>
					</span>
				{% else %}
					<a href="#" id="remove_author" class="badge badge-danger" author_id=0 style="display: none"> </a>
				{% endif %}
			</div>
			<div class="btn-group" role="group">
				{% if current_user.filtration_set.post_status != 'all' %}
					<span href="#" class="badge badge-{{ post_status_dict[current_user.filtration_set.post_status]['color'] }}"> {{ post_status_dict[current_user.filtration_set.post_status]['label'] }}
						<a href="#" id="remove_status" class="badge badge-danger" post_status="{{ current_user.filtration_set.post_status }}"> X </a>
					</span>
				{% else %}
					<a href="#" id="remove_status" class="badge badge-danger" post_status="all"	style="display: none"> </a>
				{% endif %}
			</div>
		</h2>
	</div>
	<div class="col-sm-4" style="text-align: center;">
		<button class="btn btn-warning update_btn" type="button" href="{{ url_for('moodle.update_discussions') }}">
			<span class="spinner-border spinner-border-sm update_btn_spinner" role="status" aria-hidden="true" style="display: none"> </span>
			Обновить
		</button>
	</div>
</div>
{{ macro_discussions.render_discussion_list(discussion_list, post_status_dict) }}

<div class="jumbotron rounded bg-light">
	{{ macro_pagination.render_navigation(discussion_list, redirect_url) }}
</div>

{% endblock %}

{% block extra_javascript %}

<script src="{{ url_for('static', filename = 'js/filtration.js') }}">	</script>

{% endblock %}
