{% extends "moodle/base.html" %}
{% import "moodle/macros.html" as macros %}
{% import "moodle/filtration.html" as filtration %}

{% block title %} - обсуждения {% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{{ url_for('static', filename = 'css/comments.css') }}">

{% endblock %}

{% block content %}

<h1 style="text-align: center;"> Обсуждения </h1>

{{ filtration.render_filtration_block(current_user, tag_list, order_select_list, discussion_list.page, filtration_set_list, redirect) }}

<br>

<div class="comment-list">
	<div class="row">
		<div class="col-sm-8">
			<h2 style="text-align: center;"> Список обсуждений </h2>
		</div>
		<div class="col-sm-4" style="text-align: center;">
			<a class="btn btn-warning" href="{{ url_for('moodle.update_discussions') }}"> Обновить </a>
		</div>
	</div>
	{{ macros.render_discussion_list(discussion_list) }}
</div>
<div class="jumbotron rounded bg-light">
	{{ macros.render_navigation(discussion_list, 'moodle.search_discussions') }}
</div>

{% endblock %}

{% block extra_javascript %}

<script src="{{ url_for('static', filename = 'js/filtration.js') }}">	</script>

{% endblock %}
