{% macro render_navigation(pagination, endpoint) %}
<div class="pagination">
	{% for page in pagination.iter_pages() %}
		{% if page %}
			{% if page != pagination.page %}
				<a class="btn btn-info mr-2" href="{{ url_for(endpoint, page=page) }}"> {{ page }} </a>
			{% else %}
				<a class="btn btn-outline-info mr-2" href="{{ url_for(endpoint, page=page) }}"> {{ page }} </a>
			{% endif %}
		{% else %}
			<a class="btn btn-outline-info disabled mr-2" href=""> ... </a>
		{% endif %}
	{% endfor %}
</div>
{% endmacro %}

<!-- ********** DISCUSSIONS ********** -->
{% macro render_discussion_list(discussion_list) %}
<div class="row">
	<div class="col-8">
		{% for discussion in discussion_list.items %}
		<div class="card border-secondary mb-3">
			<div class="row no-gutters">
				<div class="col-3">
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<img src="{{ discussion.user.user_picture_url }}" class="card-img-top">
							</li>
							<li class="list-group-item"> {{ discussion.user.full_name }} </li>
							<li class="list-group-item"> Прогресс курса:
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										style="width: {{ "%.2f" % (discussion.user.course_grade_dict[discussion.course.moodle_id | string] / discussion.course.grade_max * 100) }}%"
										aria-valuenow="{{ "%.2f" % (discussion.user.course_grade_dict[discussion.course.moodle_id | string] / discussion.course.grade_max * 100) }}"
										aria-valuemin="0"
										aria-valuemax="{{ discussion.course.grade_max }}">
										{{ "%.2f" % (discussion.user.course_grade_dict[discussion.course.moodle_id | string] / discussion.course.grade_max * 100) }} %
									</div>
								</div>
							</li>
							<li class="list-group-item">
								<span class="badge badge-success"> Средняя оценка: 4 </span>
							</li>
							<li class="list-group-item"> Ответы: {{ discussion.num_replies }}</li>
						</ul>
					</div>
				</div>
				<div class="col-9">
					<div class="card-header">
						Курс: {{ discussion.course.full_name }}
					</div>
					<div class="card-header">
						Форум: {{ discussion.forum.name }}
					</div>
					<div class="card-header">
						Тема: {{ discussion.subject }}
					</div>
					<div class="card-body">
						<p class="card-text">
							{{ discussion.message | safe }}
						</p>
					</div>
				</div>
				<div class="card-footer">
					Дата: {{ discussion.created | date_from_timestamp('%d.%m.%Y %H:%M') }}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}
