{% macro render_discussion_list(discussion_list, post_status_dict, redirect_url) %}
<div class="row">
	<div class="col-sm-8">
		{% for discussion in discussion_list.items %}

		<div class="card-group">
			<!-- Первая половина -->
			<div class="card text-center border-secondary">
				<img src="{{ discussion.user.user_picture_url }}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">
						<a href="#" class="badge badge-primary author_filtration" author_id="{{ discussion.user.serial_id }}"> {{ discussion.user.full_name }} </a>
					</h5>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<b> Прогресс курса: </b>
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: {{ discussion.progress }}%">
								{{ discussion.progress }} %
							</div>
						</div>
					</li>
					<li class="list-group-item"> <b> Средняя оценка: </b> 4 </li>
					<li class="list-group-item"> <b> Ответы: </b> {{ discussion.num_replies }} </li>
				</ul>
				<div class="card-footer">
					<small class="text-muted"> {{ discussion.time_created | date_from_timestamp('%d.%m.%Y %H:%M') }} </small>
				</div>
			</div>
			<!-- Вторая половина -->
			<div class="card border-secondary" style="flex-grow: 3">
				<ul class="list-group list-group-flush">
					<li class="list-group-item list-group-item-secondary">
						<b> Курс: </b>
						<a href="#" class="badge badge-primary course_filtration" course_id="{{ discussion.course.moodle_id }}"> {{ discussion.course.full_name }} </a>
					</li>
					<li class="list-group-item list-group-item-secondary"> <b> Форум: </b> {{ discussion.forum.name }} </li>
					<li class="list-group-item list-group-item-secondary"> <b> Тема: </b>
						<a href="{{ discussion.view_url }}" class="badge badge-secondary"> {{ discussion.subject }} </a>
					</li>
					{% if discussion.tag_list %}
						<li class="list-group-item list-group-item-secondary">
							<b> Теги: </b>
							{% for tag in discussion.tag_list %}
								<a href="#" class="badge badge-primary tag_filtration" tag_id="{{ tag.moodle_id }}"> {{ tag.display_name }} </a>
							{% endfor %}
						</li>
					{% endif %}
				</ul>
				<div class="card-body">
					<p class="card-text"> {{ discussion.message | safe }} </p>
				</div>
				<div class="card-footer text-right">
					<a href="{{ url_for('.show_discussion_tree', discussion_id=discussion.discussion_id, post_id=discussion.discussion_post.moodle_id) }}#{{ discussion.discussion_post.moodle_id }}" class="badge badge-warning"> Подробнее </a>
					<div class="btn-group" role="group">
						<a href="#" class="badge badge-{{ post_status_dict[discussion.discussion_post.status]['color'] }} post_status" post_status="{{ discussion.discussion_post.status }}"> {{ post_status_dict[discussion.discussion_post.status]['label'] }} </a>
						<div class="btn-group" role="group">
							<a id="status_btn_dropdown" type="button" class="badge badge-{{ post_status_dict[discussion.discussion_post.status]['color'] }} dropdown-toggle text-white" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" redirect_url="{{ redirect_url }}"> </a>
							<div class="dropdown-menu" aria-labelledby="status_btn_dropdown">
								{% for post_status in post_status_dict.keys() %}
									{% if post_status != discussion.discussion_post.status %}
									<a href="{{ url_for('.update_post_status', post_id=discussion.discussion_post.moodle_id) }}?redirect_url={{ url_for(redirect_url) }}" class="dropdown-item badge badge-{{ post_status_dict[post_status]['color'] }} update_post_status" post_status="{{ post_status }}"> {{ post_status_dict[post_status]['label'] }} </a>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<br>

		{% endfor %}
	</div>
</div>
{% endmacro %}
